* {
  box-sizing: border-box;
}

body {
  margin: 25px;
  margin-left: 450px;
  margin-right: 450px;
}

header {
  border-bottom: 20px solid rgba(88, 88, 84, 0.8);
  border-image: repeating-linear-gradient( 45deg, transparent, transparent 5px, grey 3px, grey 6px) 15;
  padding-bottom: 25px;
}

#header-left {
  display:inline-block;
}
#header-left div{
  float: left;
  padding-left: 10px;
}

#header-left h1 {
  font-family: 'Playball', cursive;
  font-size: 25px;
}

#header-left p {
  font-size: 8px;
}

#header-left img {
  float: left;
  width: 33px;
}

#header-right{
  float: right;
}

#rss-email {
  float:right;
  margin-left: 10px;
}

#main-content-header {
  margin-top: 50px;
  display:block;
  margin-bottom: 25px;
  position:relative;
}

#main-content-header > div > h1{
  font-family: Georgia, serif;
  font-size: 30px;
  font-weight: bold;
}

#main-content-header div:first-child{
  display:inline-block;
}

#main-content-header div:nth-child(2){
  float: right;
  /* position:absolute; */
}

#main-content-header div:nth-child(2) > p {
  float: right;
  text-decoration: #aca9ad;
}

#main-content {
  position: relative;
}

#main-content img {
  width: 100%;
}

#main-content-recipe > p{
  margin-top: 15px;
  margin-bottom: 15px;
}

#main-content-list {
  position:relative;
}

#main-content-ingredients-left{
  position:absolute;
  top: 15%;
  left: 5%;
}

#main-content-ingredients-left > div{
  padding-bottom: 10px;
}

.step:checked + label{
  text-decoration: line-through;
}